body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.question_maker{
  height: 40vh;
  width: 70%;
  max-width: 70vw;
  margin: auto;
  border: 2px solid;
}
.question_container{
  height: 40vh;
  width: 70%;
  max-width: 70vw;
  margin: auto;
  border: 2px solid;
}
